name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.9-slim-buster
    env:
      POETRY_HOME: /opt/poetry
    steps:
      - uses: actions/checkout@v3
      - name: install system dependencies
        run: |
          apt update && apt upgrade -y
          apt install -y make
      - name: install packages with Poetry
        run: |
          pip install --upgrade pip
          python3 -m venv $POETRY_HOME
          $POETRY_HOME/bin/pip install poetry==1.5.1
          $POETRY_HOME/bin/poetry --version
          $POETRY_HOME/bin/poetry install --no-interaction
      - name: lint
        run: |
          $POETRY_HOME/bin/poetry shell
          make lint
      - name: test
        run: make test
      - name: format
        run: make format
      - name: deploy
        run: make deploy
